<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/st.css" />
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container" id="main">
  
<div class="pull-right" style="margin-right:0 !important ; display: inline-block;">
  <div id="button_up" class="p1">
    <form class="" action="/update" method="post">
      <input id="user_selected_up" name="user_selected_up" type="hidden" value='' ><br>
      <input class="button"  type="submit" name="sub" value="Change Attributes of Selected User">
  
    </form>
  </div>
  <div id="button_up" class="p1">
    <form class="" action="/info" method="post">
      <input id="user_selected_info" name="user_selected_info" type="hidden" value='' ><br>
      <input class="button"  type="submit" name="sub" value="More INFO on Selected User">
  
    </form>
  </div>
  <div id="button_del" class="p1">
  <form class="" action="/del_user" method="post">
    <input id="user_selected" name="user_selected" type="hidden" value='' ><br>

    <input class="button"  type="submit" name="sub" value="Delete Selected User">

  </form>
</div>



</div>
<div style="margin-top: 50px;">
  <h2>Display Database</h2>

<% rows.forEach(function(r) { %>
<%var col; %>
<% if(r.chess_elo<500 ) {col='olive'; %>
<% }else if(r.chess_elo<=1000) {col='forestgreen'; %>
<% }else if(r.chess_elo<=1500) {col='rgb(176,141,87)'; %>
<% }else if(r.chess_elo<=2000) {col='rgb(192,192,192)'; %>
<% }else if(r.chess_elo<=2500) {col='goldenrod'; %>
<% }else{col='rgb(65,105,225)'; %>
<%}%>
<%var height = r.height;%>
<div class="norm" data-col="<%=col%>" style="padding-right: <%=r.size%>px; padding-bottom: <%=height%>px; background-color: <%=col%>;" id=<%=r.uid%>   >User ID: <%= r.uid %><br>Name: <%= r.name%><br>Chess Elo: <%=r.chess_elo%></div>
<% }); %>

</div>

</div>

<script type="text/javascript" src="./script.js"></script>

</body>
</html>
