<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/st.css" />

  <!-- <style>

    .button {
      background-color: white;
      color: black;
      border: 2px solid #252525; /* Green */
      width:auto;
      height:auto;
      padding:5px;
      margin-top:10px;
      display: inline-block;
      font-size: large;
      transition-duration: 0.4s;
    }
    .p1{
      display: inline-block;
    }

    .button:hover{
      background-color: rgb(141, 141, 141);
      color: black;
      border: 2px solid #252525; /* Green */
      width:auto;
      height:auto;
      margin:2px;
      padding:5px;
      /* display: inline-block; */
      font-size: large;
      transition-duration: 0.4s;
    }
    .select{
      display: inline-block;
      margin:2px;
      padding:2px;
      width:auto;
      height:auto;
      border:1px solid #000;
      background-color: rgb(101, 117, 112);
    }
    .norm{
      display: inline-block;
      margin:2px;
      padding:2px;
      width:auto;
      height:auto;
      border:1px solid #000;
      background-color: aquamarine;
      cursor: pointer;
    }
    table, th, td {
  border: 1px solid black;
  font-size: large;
  padding: 3px;
}
    .main{
        margin-left: auto;
    }
  </style> -->
</head>

<body>

<% include ../partials/nav.ejs %>


<div class="container">
<h2>Attributes of user ID: <%=user.rows[0].uid%></h2>

    <table>
        <tr>
            <th>Attribute</th>
            <th>Values</th>
        </tr>
        <tr>
            <td>User ID: </td>
            <td><%=user.rows[0].uid%></td>
        </tr>
        <tr>
            <td>User Name: </td>
            <td><%=user.rows[0].name%></td>
        </tr>
        <tr>
            <td>Age: </td>
            <td><%=user.rows[0].age%></td>
        </tr>
        <tr>
            <td>Height</td>
            <td><%=user.rows[0].height%></td>
        </tr>
        <tr>
          <td>Size: </td>
          <td><%=user.rows[0].size%></td>
      </tr>
        <tr>
            <td>Sex: </td>
            <td><%=user.rows[0].sex%></td>
        </tr>
        <tr>
            <td>Chess Elo: </td>
            <td><%=user.rows[0].chess_elo%></td>
        </tr>

        <tr>
            <td>Type: </td>
            <td style="text-transform:uppercase"><%=user.rows[0].type%></td>
        </tr>
    </table>
    <form class="" action="/" method="get">
        <input class="button-back"  type="submit" name="sub" value="Back">
      </form>

</div>
<script type="text/javascript" src="./script.js"></script>

</body>
</html>
